
    <div class="row d-flex justify-content-center align-items-center h-50">
        <p></p>
        <p></p>
        <p></p>
    <div class="col-12 col-md-9 col-lg-7 col-xl-8 mt-4">
       
        <div class="card" >
            <div class="card-body" >
              <div class="text-right">
                <div class="row text-center">
                    <h1 class="display-5" style="text-align: center; font-weight: bold; font-family: 'Courier New', Courier, monospace;" >BIENVENIDO</h1>
                    <p></p>
                    <div class="text-center">
                    <button  class="btn btn-dark btn-lg" [routerLink]="['/principal']">Continuar</button>
                    <p></p>
            </div>
            